<h2>
  Author: <%= @message.author %>
</h2>

<p>
  <%= @message.content  %>
</p>

<p>
  <a href=<%= @message.url %>><%= @message.url %></a>
</p>

<p>
  Created at: <%= @message.created_at  %>
</p>

<hr/>
<p>
  Other posts from this author: <%= Message.where("author = ? AND id != ?", @message.author, @message.id).select("content").pluck(:content).join(" / ") %>
</p>

<hr/>
<a href="/messages">Back to All Messages</a>